version: 2
machine:
jobs:
  build:
    docker:
      - image: ubuntu:xenial-20161213
        environment:
    steps:
      - checkout
      - run:
          name: install pre reqs
          command: |
            apt-get update && apt-get -y install curl wget git
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - restore_cache:
          keys:
            - v1-{{ .Branch }}-{{ checksum  "Dockerfile" }}
          paths:
            - /caches/docker.tar
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            set +o pipefail
            docker load -i /caches/docker.tar || true
            docker build --cache-from=circle2test -t circle2test --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` --build-arg VERSION=${CIRCLE_TAG:-latest} . 
          no_output_timeout: 1200
          timeout: 21600
      - run:
          name: Save docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/docker.tar circle2test
          no_output_timeout: 1200
      - save_cache:
          key: v1-{{ .Branch }}-{{ checksum "Dockerfile" }}-{{ epoch }}
          paths:
            - /caches/docker.tar
      - restore_cache:
          key:  out-{{ .Branch }}
          paths:
            - /root/out
      - run:
          command: |
            mkdir -p /root/out
            docker create -v /root/out --name data alpine:3.4 /bin/true
            docker cp /root/out data:/root
      - run:
          name: tests
          command: |
            docker run -it --volumes-from=data circle2test
          no_output_timeout: 3600
      - run:
          command: |
            docker cp data:/root/out /root/out/
      - save_cache:
          key: out-{{ .Branch }}-{{ epoch }}
          paths:
            - /root/out
